@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap');

.flex {
  display: flex;
}

.hidden {
  display: none;
}

.yappy-button {
  margin-top: 1rem;
  width: 10rem;
  background-color: rgb(0, 67, 140);
  flex-direction: row;
  padding: 1rem;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  justify-content: center;
  align-items: center;
}

.yappy-button > a {
  display: flex;
  color: white;
  text-decoration: unset;
  font-weight: 400;
  gap: 0.5rem;
}

span:nth-child(2) {
  color: #FF7D23;
  font-weight: 500;
}
